.RData
testingparalellel.txt
snakemake_notuptodate
.snakemake/
results
postpartumbc.Rproj
flexgsea_input_for_tycho.RData.gz
flexgsea_crash_env.RData
doc
data
bin
Rplots.pdf
.here
.git_old
.Rproj.user
.Rhistory
z
to_do.nb.html

*.RData
*.Rdata
*.Rproj.user
*.Rhistory
*.html
*.tar.xy
*.csv
*.xlsx
*.pdf

renv/
reports/dec2018
reports/multiqc_data
reports/unused
reports/*.tar.xy
reports/includes_tumorpurity_design
reports/Iamtest.Rmd
reports/gene_reports
src/*test*
src/lambda_score_example.R
*scratch*
src/dec2018_samples/
src/NMF.R

shinyApp/*/data
shinyApp/*/data_old
shinyApp/*/*.pdf
shinyApp/*/reports

#Archive pre April 2020 metadata update
reports/pre_April2020_metadata_update/
src/src_pre_metadata_update_April2020/
