.RData
.snakemake/
*results
*.Rproj

data/rnaseq/*
data/vectra/*
data/external/index
data/external/gene_ref
data/external/gmt
bin

.here
.Rproj.user
.Rhistory

*/archive
doc/
reports/spatial/batch_marker_viz
reports/spatial/object_qc_by_batch

*.RData
*.Rdata
*.RDS
*.Rds
*.Rproj.user
*.Rproj
*.Rhistory
*.html
*.tar.xy
*.xlsx
*.pdf
*.knit.md

renv/library
reports/archive/
reports/multiqc_data/
reports/*.tar.xy
reports/rnaseq/gene_reports/
figures/*.pdf
figures/*.csv
figures/supfigs/
*scratch*
spatial_example_code/
*hugo_fpkm.txt
*.fastq.gz
exploration/Mixture*.txt

shinyApp/*/data
shinyApp/*/data_old
shinyApp/*/*.pdf
shinyApp/*/reports

*notes*.txt